 *{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(220, 240, 215);
  }

  .navBar {
    position: relative;
    text-align: center;
  }

  img {
    width: 300px;
  }

  button {
    border-radius: 0.5rem;
    color: rgb(0, 0, 0); 
    padding: 0.5rem;
    align-self: end; 
    font-weight: bold;
    border: 2px solid black; 
  }

  .tile {
    display: flex; 
    gap: 2rem;
    margin-top: 2%;
    justify-self: center;
  } 

  header h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  .trailer{
    margin-right: 20%; 
    justify-content:first baseline

  }